<div class="header">
  <div class="container">
    <h1>threadly</h1>
  </div>
</div>

<div class="main">
  <div class="container">

    <%= form_for(@new_post) do |f| %>
      <div>
        <%= f.label 'Comment:' %>
        <%= f.text_area :comment %>
      </div>
      <div>
      <%= f.submit 'Post.' %>
      </div>
    <% end %>

    <ul class="comments">
      <% @all_posts.each do |post| %>
      <li><%= post.comment %></li>
      <% end %>
    </ul>

  </div>
</div>